<html class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths ng-scope" ng-app="telstraApp"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telstra Health API</title>
    <link href="css/bootstrap.css" rel="stylesheet">
<link href="css/site.css" rel="stylesheet">
<link href="css/font-awesome.css" rel="stylesheet">
    <script src="Scripts/modernizr-2.6.2.js"></script>
	

    <link href="css/app.css" rel="stylesheet">

</head>
<body>
    <header>
        <div class="container">
            <a href="/" class="logo"><img src="images/logo-telstra-health.jpg" alt="Telstra Health"></a>
            <span class="portal-title">Developer</span>
        </div>
    </header>

    <div class="body-content">
   
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-ui-router.min.js"></script>    
    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/ui-bootstrap-tpls.min.js"></script>
    <link rel="stylesheet" href="css/custom.css">
    <title>Telstra Health API Get Involved</title>


    
    <!-- uiView: dynamicView --><div ui-view="dynamicView" id="dynamicView" class="ng-scope"><div class="banner ng-scope">
    <div class="container">
        <!-- top row -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h1>Telstra Health APIs may be here soon!</h1>
                <p class="lead">
                    Whether you're creating solutions for patients, clinical or anyone in the health ecosystem, Telstra Healthmay soon be able to offer you a range of APIs which could be used to integrate with various industry solutions.
                </p>
                <p class="lead">
                    We would like your feedback to help us consider how we develop an Health API platform for your use.
                </p>
                <div class="email-capture">
                    <form name="form" class="css-form ng-pristine ng-valid-email ng-invalid ng-invalid-required" novalidate>
                        <input class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required" type="email" name="email" placeholder="Step 1: Type email address" ng-model="email" required="">
                        <div class="form-submit" ng-click="next()" ng-disabled="!form.$dirty || !form.$valid" disabled="disabled"><i class="fa fa-chevron-right" aria-hidden="true" ng-disabled="!form.$dirty || !form.$valid" disabled="disabled"></i></div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div></div>

<div class="container" style="text-align:center">

	<ul class="tabs" style="margin-bottom:40px">
		<li class="tab-link current" data-tab="tab-1">Consumer</li>
		<li class="tab-link" data-tab="tab-2">Clinical</li>
		
	</ul>

	<div id="tab-1" class="tab-content current">
    				<div class="col-md-3 col-xs-6">
                              
                                <div class="card api">
                                  <img src="file:///Users/dombonnice/Documents/Telstra/Health/icons/iOS%20and%20Web/pharmacy-profile-api@2x.png" width="70" height="70" alt=""/>
                                        <div class="card-block">
                                          <h4 class="card-title">Export Patient Data (OSR)</h4>
                                            <p class="card-text">Send and receive medication profiles & messages from your pharmacy application.</p>
                                        </div>
                                </div>
                    </div> <div class="col-md-3 col-xs-6">
                                
                                <div class="card api">
                                  <img src="file:///Users/dombonnice/Documents/Telstra/Health/icons/iOS%20and%20Web/pharmacy-profile-api@2x.png" width="70" height="70" alt=""/>
                                        <div class="card-block">
                                          <h4 class="card-title">Patient SMS</h4>
                                            <p class="card-text">Allows customers to send text messages to patients.</p>
                                        </div>
                                </div>
                    </div> <div class="col-md-3 col-xs-6">
                                
                                <div class="card api">
                                  <img src="file:///Users/dombonnice/Documents/Telstra/Health/icons/iOS%20and%20Web/pharmacy-profile-api@2x.png" width="70" height="70" alt=""/>
                                        <div class="card-block">
                                          <h4 class="card-title">Secure document transfer</h4>
                                            <p class="card-text">Securely send & receive letters, referrals, CDA docs and receive Pathology and Radiology results.</p>
                                        </div>
                                </div>
                    </div> <div class="col-md-3 col-xs-6"> 
                                      
                                <div class="card api">
                                  <img src="file:///Users/dombonnice/Documents/Telstra/Health/icons/iOS%20and%20Web/pharmacy-profile-api@2x.png" width="70" height="70" alt=""/>
                                        <div class="card-block">
                                          <h4 class="card-title">Schedule Visit</h4>
                                            <p class="card-text">Schedule and record data about home care visits – home care mobile specific.</p>
                                        </div>
                                </div>
                    </div>            
	</div>
  
	<div id="tab-2" class="tab-content">
    				<div class="col-md-3 col-xs-6">
                                
                                <div class="card api">
                                  <img src="file:///Users/dombonnice/Documents/Telstra/Health/icons/iOS%20and%20Web/pharmacy-profile-api@2x.png" width="70" height="70" alt=""/>
                                        <div class="card-block">
                                          <h4 class="card-title">Pharmacy Profile API</h4>
                                            <p class="card-text">Send and receive medication profiles & messages from your pharmacy application.</p>
                                        </div>
                                </div>
                    </div> <div class="col-md-3 col-xs-6">
                               
                                <div class="card api">
                                  <img src="file:///Users/dombonnice/Documents/Telstra/Health/icons/iOS%20and%20Web/pharmacy-profile-api@2x.png" width="70" height="70" alt=""/>
                                        <div class="card-block">
                                          <h4 class="card-title">Patient Flow API</h4>
                                            <p class="card-text">Consume patient process infomration across inpatient, emergency and theartre.</p>
                                        </div>
                                </div>
                    </div> <div class="col-md-3 col-xs-6">
                                 
                                <div class="card api">
                                  <img src="file:///Users/dombonnice/Documents/Telstra/Health/icons/iOS%20and%20Web/pharmacy-profile-api@2x.png" width="70" height="70" alt=""/>
                                        <div class="card-block">
                                          <h4 class="card-title">Work Tracker API</h4>
                                            <p class="card-text">Search, retrieve and maintain your organisation and it's workforce.</p>
                                        </div>
                                </div>
                    </div> <div class="col-md-3 col-xs-6"> 
                                        
                                <div class="card api">
                                  <img src="file:///Users/dombonnice/Documents/Telstra/Health/icons/iOS%20and%20Web/pharmacy-profile-api@2x.png" width="70" height="70" alt=""/>
                                        <div class="card-block">
                                          <h4 class="card-title">Customer Update API</h4>
                                            <p class="card-text">Modify or receive new customers from SAP. Auto updates your CRM.</p>
                                        </div>
                                </div>
                    </div>    
	</div>
</div>


    <!-- uiView: contentsView --><div ui-view="contentsView" id="contentsView" class="ng-scope"><div class="container ng-scope">
    <div class="featuredApis">
        <!--Contents-->
        <div class="row filter-buttons">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <input type="button" class="btn btn-left btn-success" value="Consumer" ng-click="setSelection('Consumer');" ng-class="{'btn-success':  currentSelection == 'Consumer'}">
                <input type="button" class="btn btn-right" value="Clinical" ng-click="setSelection('Clinical');" ng-class="{'btn-success':  currentSelection == 'Clinical'}">
                <div class="clearfix">
                </div>
            </div>

            <div class="row text-center">
                <br>
                <p class="lead">Examples of APIs that would like to test for possible commercial release include:</p>
            </div>

            <!-- Clinical APIs -->
            <div class="row ApiList ng-hide" ng-show="currentSelection == 'Clinical'">
                <!-- ngRepeat: apiDef in topClinicalApis --><div class="col-xs-12 col-sm-6 col-md-3 col-3 ng-scope" ng-repeat="apiDef in topClinicalApis">
                    <div class="api  text-center">
                        <div class="icon-image"><img ng-src="images/icon-01.jpg" alt="" src="images/icon-01.jpg"></div>
                        <div class="api-title"><a href="#" class="ng-binding">Pharmacy Profile API</a></div>
                        <div class="api-description ng-binding">
                            Send and receive medication, profiles and messages from your pharmacy application
                        </div>
                    </div>
                </div><!-- end ngRepeat: apiDef in topClinicalApis --><div class="col-xs-12 col-sm-6 col-md-3 col-3 ng-scope" ng-repeat="apiDef in topClinicalApis">
                    <div class="api  text-center">
                        <div class="icon-image"><img ng-src="images/icon-02.jpg" alt="" src="images/icon-02.jpg"></div>
                        <div class="api-title"><a href="#" class="ng-binding">Patient Flow API</a></div>
                        <div class="api-description ng-binding">
                            Consume patient process information across inpatient, emergency and theatre
                        </div>
                    </div>
                </div><!-- end ngRepeat: apiDef in topClinicalApis --><div class="col-xs-12 col-sm-6 col-md-3 col-3 ng-scope" ng-repeat="apiDef in topClinicalApis">
                    <div class="api  text-center">
                        <div class="icon-image"><img ng-src="images/icon-03.jpg" alt="" src="images/icon-03.jpg"></div>
                        <div class="api-title"><a href="#" class="ng-binding">Work Tracker API</a></div>
                        <div class="api-description ng-binding">
                            Search, retrieve and maintain your organisation and it's workforce in a few steps
                        </div>
                    </div>
                </div><!-- end ngRepeat: apiDef in topClinicalApis --><div class="col-xs-12 col-sm-6 col-md-3 col-3 ng-scope" ng-repeat="apiDef in topClinicalApis">
                    <div class="api  text-center">
                        <div class="icon-image"><img ng-src="images/icon-04.jpg" alt="" src="images/icon-04.jpg"></div>
                        <div class="api-title"><a href="#" class="ng-binding">Customer Update API</a></div>
                        <div class="api-description ng-binding">
                            Easily modify or receive new customers from SAP, and auto update your CRM
                        </div>
                    </div>
                </div><!-- end ngRepeat: apiDef in topClinicalApis -->
            </div>

            <!-- Consumer APIs -->
            <div class="row ApiList" ng-show="currentSelection == 'Consumer'">
                <!-- ngRepeat: apiDef in topConsumerApis --><div class="col-xs-12 col-sm-6 col-md-3 col-3 ng-scope" ng-repeat="apiDef in topConsumerApis">
                    <div class="api  text-center">
                        <div class="icon-image"><img ng-src="images/export.png" alt="" src="images/export.png"></div>
                        <div class="api-title"><a href="#" class="ng-binding">Export Patient Data (OSR)</a></div>
                        <div class="api-description ng-binding">
                            Export relevant patient measurements (OSR) to third party data analysis tools
                        </div>
                    </div>
                </div><!-- end ngRepeat: apiDef in topConsumerApis --><div class="col-xs-12 col-sm-6 col-md-3 col-3 ng-scope" ng-repeat="apiDef in topConsumerApis">
                    <div class="api  text-center">
                        <div class="icon-image"><img ng-src="images/sms.jpg" alt="" src="images/sms.jpg"></div>
                        <div class="api-title"><a href="#" class="ng-binding">Patient SMS</a></div>
                        <div class="api-description ng-binding">
                            Allows customers to send text messages to patients
                        </div>
                    </div>
                </div><!-- end ngRepeat: apiDef in topConsumerApis --><div class="col-xs-12 col-sm-6 col-md-3 col-3 ng-scope" ng-repeat="apiDef in topConsumerApis">
                    <div class="api  text-center">
                        <div class="icon-image"><img ng-src="images/secure-doc.jpg" alt="" src="images/secure-doc.jpg"></div>
                        <div class="api-title"><a href="#" class="ng-binding">Secure document transfer</a></div>
                        <div class="api-description ng-binding">
                            Securely send &amp; receive letters, referrals, CDA docs and receive Pathology and Radiology results
                        </div>
                    </div>
                </div><!-- end ngRepeat: apiDef in topConsumerApis --><div class="col-xs-12 col-sm-6 col-md-3 col-3 ng-scope" ng-repeat="apiDef in topConsumerApis">
                    <div class="api  text-center">
                        <div class="icon-image"><img ng-src="images/calendar.jpg" alt="" src="images/calendar.jpg"></div>
                        <div class="api-title"><a href="#" class="ng-binding">Schedule Visit</a></div>
                        <div class="api-description ng-binding">
                            Schedule and record data about home care visits – home care mobile specific
                        </div>
                    </div>
                </div><!-- end ngRepeat: apiDef in topConsumerApis -->
            </div>
        </div>

        <p class="text-center lead">
            <a href="#">Register to view all APIs</a>
        </p>

    </div>

    <div class="mainContent text-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">            
            <h1>Join Australia's leading HealthTech community</h1>
            <p class="lead">
                We are currently investigating a solution to roll-out access to a library of APIs with clear documentation and guides available to help you. We are also planning on pulling together a fantastic community of industry participants. get access to our meetups, events, and 48hr hackathons where you can create and collaborate on a high impact health project with mentoring from Telstra Health Team.
            </p>
            <p class="lead">Some elements of the community may include:</p>
        </div>

        <div class="row events">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="connector">
                    <div class="icon-image"><img src="images/icon-05.jpg" alt=""></div>
                    <h3>Hackathons</h3>
                    <div class="details">
                        The best minds in Australian health come together to create apps with a difference
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="connector">
                    <div class="icon-image"><img src="images/icon-06.jpg" alt=""></div>
                    <h3>Events</h3>
                    <div class="details">
                        Network with clinical, business and patients at events across Australia
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="connector">
                    <div class="icon-image"><img src="images/icon-07.jpg" alt=""></div>
                    <h3>Meetups</h3>
                    <div class="details">
                        Meet and collaborate with other developers in your area. Share ideas, skills and build!
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="connector">
                    <div class="icon-image"><img src="images/icon-08.jpg" alt=""></div>
                    <h3>Support</h3>
                    <div class="details">
                        With the forum and blog updated daily with the latest from the community
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row getStarted ng-scope">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="left">
                <h1>I'm ready to get started</h1>
                <p class="lead">Register to be part of early-stage testing!</p>
            </div>
            <div class="right">
                <a href="#" class="btnStart">Get Started</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="left">
                <h1>I still have questions!</h1>
                <p class="lead">You have multiple options</p>
            </div>
            <div class="right">
                <a href="#" class="btnSupport">Get Support</a>
            </div>
        </div>
    </div>
</div></div>

    <!-- all controllers -->
    <script src="/app/app.js" defer=""></script>
    <script src="/app/home/homeController.js" defer=""></script>
    <script src="/app/signup/signupController.js" defer=""></script>
    <script src="/app/signup/signupStep1Controller.js" defer=""></script>
    <script src="/app/modal-dialogs/termsConditionsController.js" defer=""></script>

    <!-- Service -->
    <script src="/app/services/signupService.js" defer=""></script>
    <script src="/app/services/apimService.js" defer=""></script>
    <script src="/app/services/modalDialogService.js" defer=""></script>


    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <ul>
                        <li class="heading">Get Started</li>
                        <li><a href="#">Docs</a></li>
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">User Cases</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <ul>
                        <li class="heading">Support</li>
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">Privacy Statement</a></li>
                        <li><a href="" ng-click="openTermsConditionsDialog()">Terms Of Use</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <img src="images/footer-logo.jpg" alt="Telstra Health">
                </div>
            </div>
    </div></footer>

<script type="text/javascript">
$(document).ready(function(){
	
	$('ul.tabs li').click(function(){
		var tab_id = $(this).attr('data-tab');

		$('ul.tabs li').removeClass('current');
		$('.tab-content').removeClass('current');

		$(this).addClass('current');
		$("#"+tab_id).addClass('current');
	})

})</script>
    <script src="Scripts/jquery-1.10.2.js"></script>

    <script src="Scripts/bootstrap.js"></script>
<script src="Scripts/respond.js"></script>

    

</body></html>